---
import Verticalgrid from "../assets/Verticalgrid.astro";
const features = [
  {
    tagline: "Master your finances",
    title: "Take charge of your financial well-being from today",
    description:
      "Our powerful suite of budgeting tools, designed to help you effectively track, manage, and optimize your personal budget, providing you with a clearer financial picture and enabling smarter financial decisions.",
    image: "/assets/card2.svg",
  },
  {
    tagline: "Smart conversations",
    title: "Easy Integration with Your Website or App",
    description:
      "Our baking platform allows for custom recipes and products to be added, giving your users the ability to order unique items that are not listed on the menu.",
    image: "/assets/card1.svg",
  },
  {
    tagline: "Investment management",
    title: "Customizable Ordering Options",
    description:
      "Our baking platform allows for custom recipes and products to be added, giving your users the ability to order unique items that are not listed on the menu.",
    image: "/assets/card4.svg",
  },
];
---

<section class="relative">
  <Verticalgrid />
  <div class="">
    <div
      class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative space-y-24"
    >
      {
        features.map((feature, index) => (
          <div
            key={index}
            class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center"
          >
            <div>
              <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
                {feature.tagline}
              </p>
              <p class="text-3xl mt-8 font-normal text-white tracking-tight">
                {feature.title}
              </p>
              <p class="mt-4 text-base text-vulcan-300">
                {feature.description}
              </p>
            </div>
            <div class={`h-full ${index % 2 === 0 ? "lg:order-first" : ""}`}>
              <img
                alt={feature.tagline}
                class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
                src={feature.image}
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>


