---
import Verticalgrid from "../assets/Verticalgrid.astro";
const accordionItems = [
  {
    id: 1,
    question: "How do I sign up for mobile banking?",
    answer:
      "Signing up for mobile banking is easy! Simply download our app from the App Store or Google Play, and follow the registration process. You'll be able to create an account and access your finances right from your mobile device.",
  },
  {
    id: 2,
    question: "How do I sign up for mobile banking?",
    answer:
      "Signing up for mobile banking is easy! Simply download our app from the App Store or Google Play, and follow the registration process. You'll be able to create an account and access your finances right from your mobile device.",
  },
  {
    id: 3,
    question: "Can I make payments to other banks using your platform?",
    answer:
      "Absolutely! Our platform allows you to make payments to accounts in other banks through convenient and secure transfer options. You can easily initiate transfers to recipients within the same country or even internationally, depending on the available services.",
  },
  {
    id: 4,
    question: "What should I do if I lose my mobile device?",
    answer:
      "If you lose your mobile device, it's important to take immediate action. Contact our customer support team to report the loss and have your account temporarily disabled for security reasons. We can assist you in disabling access to your account from the lost device and help you regain access on a new device.",
  },
  // Add more items as needed
];
---
<section class="relative">
  <Verticalgrid />
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-24">
    <div class="max-w-xl mx-auto text-center">
      <p
        class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
      >
        Frequent questions and answers
      </p>
      <h2 class="mt-8 text-3xl font-normal tracking-tight text-white">
        Fully automated, fully supported
      </h2>
      <p class="mx-auto mt-4 text-base text-vulcan-300">
        Self-serve or work with a representative, we're here to help with the
        capital journey that works for you.
      </p>
    </div>
    <div class="relative mt-10">
      <div
        class="relative mx-auto border rounded-3xl border-white/5 bg-vulcan-900"
      >
        <ul class="list-none divide-y divide-white/5" role="list">
          {
            accordionItems.map((item) => (
              <li key={item.id} class="relative">
                <button
                  type="button"
                  class="w-full px-8 py-6 text-left"
                  aria-expanded="false"
                  aria-controls={`content-${item.id}`}
                  onclick="this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') === 'false' ? 'true' : 'false'); this.nextElementSibling.classList.toggle('max-h-0'); this.nextElementSibling.classList.toggle('max-h-[1000px]');"
                >
                  <div class="flex items-center justify-between text-white group">
                    <p class="text-base duration-200 text-vulcan-300 group-hover:text-indigo-400">
                      {item.question}
                    </p>
                  </div>
                </button>
                <div
                  id={`content-${item.id}`}
                  class="relative overflow-hidden transition-all duration-700 max-h-0"
                  aria-hidden="true"
                >
                  <div class="px-8 pt-4 pb-20 text-sm text-vulcan-300">
                    {item.answer}
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
