---
const { page, description, url, pubDate } = Astro.props;
---

<div
  class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0 pl-4 border-l-2 border-white/5"
>
  <p class="text-sm text-vulcan-300">
    <time datetime={pubDate}>{pubDate}</time>
  </p>
</div>
<div class="space-y-4 lg:col-span-2">
  <span class="text-lg text-white"> {page}</span>
  <p class="text-sm text-vulcan-300 mt-8 line-clamp-2">
    {description}
  </p>
  <p class="mt-4">
    <a
      href={url}
      title={page}
      aria-label={page}
      class="text-sm leading-6 text-indigo-400 hover:text-white"
      >Read more <span aria-hidden="true">&rarr;</span></a
    >
  </p>
</div>
