---
import Blurgradientleft from "../../assets/Blurgradientleft.astro";
import Verticalgrid from "../../assets/Verticalgrid.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath, getRouteFromUrl } from '../../../i18n/utils';
import { languages } from '../../../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const route = getRouteFromUrl(Astro.url);

const featuresNexaviaEnterprise = [
  {
    tagline: t('solutionsnexaviaaboutpage:tagline1'),
    title: t('solutionsnexaviaaboutpage:title1'),
    description: t('solutionsnexaviaaboutpage:description1'),
    image: "/assets/nexavia-login-1.jpg",
  },
  {
    tagline: t('solutionsnexaviaaboutpage:tagline2'),
    title: t('solutionsnexaviaaboutpage:title2'),
    description: t('solutionsnexaviaaboutpage:description2'),
    image: "/assets/nexavia-2.png",
  },
  {
    tagline: t('solutionsnexaviaaboutpage:tagline3'),
    title: t('solutionsnexaviaaboutpage:title3'),
    description: t('solutionsnexaviaaboutpage:description3'),
    image: "/assets/nexavia-groups-2.jpg",
  },
  {
    tagline: t('solutionsnexaviaaboutpage:tagline4'),
    title: t('solutionsnexaviaaboutpage:title4'),
    description: t('solutionsnexaviaaboutpage:description4'),
    image: "/assets/nexavia-devices.jpg",
  },
  {
    tagline: t('solutionsnexaviaaboutpage:tagline5'),
    title: t('solutionsnexaviaaboutpage:title5'),
    description: t('solutionsnexaviaaboutpage:description5'),
    image: "/assets/nexavia-3.png",
  },
];
---

<section class="relative">
    <Verticalgrid />
    <div
      class="relative items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-28"
    >
      <div class="max-w-5xl mx-auto">
        <!-- <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
        >
          &nbsp;
        </p> -->
        <p
          class="mt-8 text-4xl text-balance font-normal text-white sm:text-3xl text-center"
        >
          {t('global:nexaviaenterprise')}
        </p>
      </div>
      <div
        class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-1 lg:py-1 relative space-y-4"
        >
        {
            featuresNexaviaEnterprise.map((feature, index) => (
            <div
                key={index}
                class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center"
            >
                <div>
                <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
                    {feature.tagline}
                </p>
                <p class="text-3xl mt-8 font-normal text-white tracking-tight">
                    {feature.title}
                </p>
                <p class="mt-4 text-base text-vulcan-300">
                    {feature.description}
                </p>
                </div>
                <div class={`h-full ${index % 2 === 0 ? "lg:order-first" : ""}`}>
                <img
                    alt={feature.tagline}
                    class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
                    src={feature.image}
                />
                </div>
            </div>
            ))
        }
        </div>
    </div>
</section>

<!-- <section class="relative border-t border-white/5">
    <div class="">
        <div
        class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-1 lg:py-1 relative space-y-4"
        >
        {
            featuresNexaviaEnterprise.map((feature, index) => (
            <div
                key={index}
                class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center"
            >
                <div>
                <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
                    {feature.tagline}
                </p>
                <p class="text-3xl mt-8 font-normal text-white tracking-tight">
                    {feature.title}
                </p>
                <p class="mt-4 text-base text-vulcan-300">
                    {feature.description}
                </p>
                </div>
                <div class={`h-full ${index % 2 === 0 ? "lg:order-first" : ""}`}>
                <img
                    alt={feature.tagline}
                    class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
                    src={feature.image}
                />
                </div>
            </div>
            ))
        }
        </div>
    </div>
</section> -->