---
import Blurgradientleft from "../../assets/Blurgradientleft.astro";
import Verticalgrid from "../../assets/Verticalgrid.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath, getRouteFromUrl } from '../../../i18n/utils';
import { languages } from '../../../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const route = getRouteFromUrl(Astro.url);

const featuresNexaviaEnterprise = [
  {
    tagline: "About",
    title: "Advanced General-Purpose, Multitenant IoT Platform for Businesses (B2B)",
    description:
      "Nexavia Enterprise enables the capture of data from IoT devices across various networks such as LoRa, NB-IoT, and more.",
    image: "https://placeholder.pics/svg/400x270",
  },
  {
    tagline: "Support for multiple network protocols and concentrators",
    title: "LP-WAN (LoRa, NB-IoT,...), REST, MQTT",
    description:
      "IoT devices can send data to Nexavia Enterprise via multiple supported protocols and network servers such as TTS, ChripStack,....",
    image: "https://placeholder.pics/svg/400x270",
  },
  {
    tagline: "Over 50 IoT devices are currently supported",
    title: "Measure temperature, humidity, parking place occupation and much more",
    description:
      "Nexavia Enterprise has integrated many decoders for various IoT device types for many use cases (various industries, smart cities,...).",
    image: "https://placeholder.pics/svg/400x270",
  },
  {
    tagline: "Monitoring & Alerting",
    title: "View and be notified on events",
    description:
      "With its real-time monitoring and control, it allows tracking and management across various verticals including environmental and spatial areas (temperature, humidity, CO2), HACCP (food monitoring), electricity (home and rental space consumption monitoring), and home monitoring (water leak detection, temperature, etc.).",
    image: "https://placeholder.pics/svg/400x270",
  },
  {
    tagline: "Have complete control",
    title: "Dedicated database per tenant, SaaS or on-premise installation",
    description:
      "Each tenant has it's own database for data which can be transfared from SaaS and on-premise (and vice versa).",
    image: "https://placeholder.pics/svg/400x270",
  },
];
---

<section class="relative">
    <Verticalgrid />
    <div
      class="relative items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-28"
    >
      <div class="max-w-5xl mx-auto">
        <!-- <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
        >
          &nbsp;
        </p> -->
        <p
          class="mt-8 text-4xl text-balance font-normal text-white sm:text-3xl text-center"
        >
          Thynkr Enterprise
        </p>
      </div>
      <div
        class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-1 lg:py-1 relative space-y-4"
        >
        {
            featuresNexaviaEnterprise.map((feature, index) => (
            <div
                key={index}
                class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center"
            >
                <div>
                <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
                    {feature.tagline}
                </p>
                <p class="text-3xl mt-8 font-normal text-white tracking-tight">
                    {feature.title}
                </p>
                <p class="mt-4 text-base text-vulcan-300">
                    {feature.description}
                </p>
                </div>
                <div class={`h-full ${index % 2 === 0 ? "lg:order-first" : ""}`}>
                <img
                    alt={feature.tagline}
                    class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
                    src={feature.image}
                />
                </div>
            </div>
            ))
        }
        </div>
    </div>
</section>

<!-- <section class="relative border-t border-white/5">
    <div class="">
        <div
        class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-1 lg:py-1 relative space-y-4"
        >
        {
            featuresNexaviaEnterprise.map((feature, index) => (
            <div
                key={index}
                class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center"
            >
                <div>
                <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
                    {feature.tagline}
                </p>
                <p class="text-3xl mt-8 font-normal text-white tracking-tight">
                    {feature.title}
                </p>
                <p class="mt-4 text-base text-vulcan-300">
                    {feature.description}
                </p>
                </div>
                <div class={`h-full ${index % 2 === 0 ? "lg:order-first" : ""}`}>
                <img
                    alt={feature.tagline}
                    class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
                    src={feature.image}
                />
                </div>
            </div>
            ))
        }
        </div>
    </div>
</section> -->