---
const { title, url, description, pubDate, image } =
  Astro.props;
---

<li
  class="group ring-1 ring-inset ring-white/5 text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-xl p-[0.060rem] overflow-hidden shadow-vulcan-950 shadow-2xl"
>
  <a href={url} title={title} aria-label={url}>
    <div class="bg-vulcan-900 rounded-xl">
      <div
        class="flex items-end justify-center overflow-hidden rounded-t-xl border-b border-vulcan-800"
      >
        <div class="flex">
          <img
            class="group-hover:scale-110 duration-300 aspect-[2/1] object-cover"
            loading="lazy"
            src={image}
            alt={title}
            width="560"
          />
        </div>
      </div>
      <div class="p-8">
        <p>
          <time
            class="items-center w-auto px-3 py-1 text-xs font-semibold text-white transition-all border rounded-full h-7 bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
            datetime={pubDate}>{pubDate}</time
          >
        </p>
        <h3 class="mt-5 text-sm font-medium leading-6 text-white">
          {title}
        </h3>
        <p class="mt-2 text-sm text-vulcan-300 line-clamp-1">
          {description}
        </p>
      </div>
    </div>
  </a>
</li>
